spring.application.name=ExpenseFlow

##DATABASE CONNECTION
spring.datasource.url=jdbc:postgresql://localhost:5432/expenseflow_db
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD

##DATABASE CONFIGURATION
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

##DATABASE PORT
server.port=8080